<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" />
    
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/users/register" method="POST">
        <div>
            <input type='text' id="user_name" name="name" placeholder="Name" required>
        </div>
        <div>
            <input type='text' id="user_email" name="email" placeholder="Email" required>
        </div>
        <div>
            <input type='password' id="user_password" name="password" placeholder="Password" required>
        </div>
        <div>
            <input type='password' id="password2" name="password2" placeholder="Confirm Password" required>
        </div>
        <div>
            <input type="submit" value="Register" />

        </div>
        <a href="/users/login">Already Register? Login</a>

        
    </form>
</body>
</html>